<header>
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="login" *ngIf=!loggedIn()>Bible Tracker</a>
            <a class="navbar-brand" [routerLink]="'/welcome/' + getUsername()" *ngIf=loggedIn()>Bible Tracker</a>
            
            <div class="navbar-nav">
                <a mat-button routerLink="track" *ngIf=loggedIn()>Track!</a>
                <a mat-button routerLink="history" *ngIf=loggedIn()>History</a>
            </div>
            
            <div class="navbar-nav navbar-collapse justify-content-end">
                <a mat-button [routerLink]="'/welcome/' + getUsername()" *ngIf=loggedIn()>Home</a>
                <a mat-button routerLink="login" *ngIf=!loggedIn()>Login</a>
                <a mat-button routerLink="logout" *ngIf=loggedIn()>Logout</a>
            </div>
        </div>
    </nav>
</header>