<div class="container mt-5">
    <h1>Progress</h1>
    
    <div class="card">
        <h2 class="card-header text-center">Total completed chapters</h2>
        <div class="card-body">
            <h2>Number of completed chapters: <br>{{ numberCompletedChapters }}/1189</h2>
            <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width]="percentCompletedChapsStr + '%'">
                    <span *ngIf="(percentCompletedChapsNum >= 3)">
                        {{ percentCompletedChapsStr }}%
                    </span>
                </div>
            </div>

            <app-radialbar [percentage]="percentCompletedChapsNum"></app-radialbar>
        </div>
    </div>

    <br><br>

    <div class="card">
        <h2 class="card-header text-center">Completed chapters by Book</h2>
        <div class="card-body">
            <app-heatmap></app-heatmap>
            <div *ngFor="let book of chaptersReadForBooksPercent">
                <h1>{{ book.book }}: {{ book.chaptersRead }}/{{ book.totalChapters }}</h1>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [style.width]="book.percentageComplete + '%'">
                        <span *ngIf="(book.percentageComplete  >= 3)">
                            {{ book.percentageComplete  }}%
                        </span>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>