<div class="container mt-5">
    <h1>Reading History</h1>
    <table class="table" matSort (matSortChange)="sortData($event)">
        <thead>
            <tr>
                <th>#</th>
                <th mat-sort-header="date">Date</th>
                <th mat-sort-header="book">Book</th>
                <th>Chapter</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reading of sortedData; index as i">
                <td style="width: 10%">{{ i+1 }}</td>
                <td style="width: 25%">{{ reading.date | date: "MMM, d yyyy @ HH:mm:ss" }}</td>
                <td style="width: 20%">{{ reading.book }}</td>
                <td style="width: 25%">{{ reading.chapter }}</td>
            </tr>
        </tbody>
    </table>
</div>