<div class="container mt-5">
    <h1>Reading History</h1>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Book</th>
                <th>Chapter</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reading of readings; index as i">
                <td>{{ i+1 }}</td>
                <td>{{ reading.date | date }}</td>
                <td>{{ reading.book }}</td>
                <td>{{ reading.chapter }}</td>
            </tr>
        </tbody>
    </table>
</div>