<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1>Sign Up</h1>
            
            <br>
            
            <div>
                Username: <input type="text" name="username" [(ngModel)]="username">
                <br><br>
                Password: <input type="password" name="password" [(ngModel)]="password">
                <br><br><br>
            </div>

            <div>
                <button mat-raised-button color="primary" (click)=createAccount()>Create Account</button>
                <br><br>
            </div>

            <div class="alert alert-success" *ngIf="serverMessage">
                {{ serverMessage }}
            </div>
        </div>
    </div>
</div>