<div class="container mt-5">
    <h1>Bible Books</h1>
    <br>
    <h3>Select your book for today: </h3>
    
    <div class="row">        
        <div class="col-7">
    <div class="card">
        <h2 class="card-header text-center">OT</h2>
        <div class="card-body">
            <div class="row">        
                <div class="col">
                    <br>
                    <ul *ngFor="let bibleChapter of bibleChapters; let i = index">
                        <button mat-raised-button [routerLink]="'/track/' + bibleChapter.book" *ngIf="i >= 0 && i < 13">{{ bibleChapter.book }}</button>
                    </ul>
                </div>
                <div class="col">
                    <ul *ngFor="let bibleChapter of bibleChapters; let i = index">
                        <button mat-raised-button [routerLink]="'/track/' + bibleChapter.book" *ngIf="i >= 13 && i < 26">{{ bibleChapter.book }}</button>
                    </ul>
                </div>
                <div class="col">
                    <ul *ngFor="let bibleChapter of bibleChapters; let i = index">
                        <button mat-raised-button [routerLink]="'/track/' + bibleChapter.book" *ngIf="i >= 26 && i < 39">{{ bibleChapter.book }}</button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-5">
    <div class="card">
        <h2 class="card-header text-center">NT</h2>
        <div class="card-body">
            <div class="row">     
                <div class="col">
                    <ul *ngFor="let bibleChapter of bibleChapters; let i = index">
                        <button mat-raised-button [routerLink]="'/track/' + bibleChapter.book" *ngIf="i >= 39 && i < 52">{{ bibleChapter.book }}</button>
                    </ul>
                </div>
                <div class="col">
                    <ul *ngFor="let bibleChapter of bibleChapters; let i = index">
                        <button mat-raised-button [routerLink]="'/track/' + bibleChapter.book" *ngIf="i >= 52 && i < 66">{{ bibleChapter.book }}</button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>