<div class="container mt-5">
    <h1>{{ bookName }}</h1>
    <br>

    <div class="card">
        <h3 class="card-header">Chapters</h3>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <br>
                    <ul *ngFor="let chapter of allChapters">
                        <mat-button-toggle [value]="chapter" (change)="onChange($event)" [checked]="isRead(chapter)" *ngIf="chapter%5 === 1">{{ chapter }}</mat-button-toggle>
                    </ul>
                </div>
                <div class="col">
                    <ul *ngFor="let chapter of allChapters">
                        <mat-button-toggle [value]="chapter" (change)="onChange($event)" [checked]="isRead(chapter)" *ngIf="chapter%5 === 2">{{ chapter }}</mat-button-toggle>
                    </ul>
                </div>
                <div class="col">
                    <ul *ngFor="let chapter of allChapters">
                        <mat-button-toggle [value]="chapter" (change)="onChange($event)" [checked]="isRead(chapter)" *ngIf="chapter%5 === 3">{{ chapter }}</mat-button-toggle>
                    </ul>
                </div>
                <div class="col">
                    <ul *ngFor="let chapter of allChapters">
                        <mat-button-toggle [value]="chapter" (change)="onChange($event)" [checked]="isRead(chapter)" *ngIf="chapter%5 === 4">{{ chapter }}</mat-button-toggle>
                    </ul>
                </div>
                <div class="col">
                    <ul *ngFor="let chapter of allChapters">
                        <mat-button-toggle [value]="chapter" (change)="onChange($event)" [checked]="isRead(chapter)" *ngIf="chapter%5 === 0">{{ chapter }}</mat-button-toggle>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>