<div class="container mt-5">
    <h1>Welcome {{ name }}!</h1>
    <br>

    <div class="row">
        <div class="col">
            <div class="card">
                <h2 class="card-header text-center" routerLink="/track">Track!</h2>
                <div class="card-body">
                    <span *ngIf="lastReadDate">
                        <h2>Last read: <br> {{ lastReadDate | date: "MMM, d yyyy @ HH:mm:ss" }} <br> {{ lastReadBook }} {{ lastReadChapter }}</h2>
                    </span>
                    <p>Track your daily reading by clicking on the book and select the chapter you desire to read today. This will add it to your daily reading history.</p>
                    <br>
                    <img class="img-fluid" routerLink="/track" src="../../assets/track-example.jpg">
                    <br><br>
                    <p>Click <a routerLink="/track">here</a> to start <strong>tracking</strong> your daily Bible reading!</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h2 class="card-header text-center" routerLink="/history">History</h2>
                <div class="card-body">
                    <p>Want to know what you have covered in the past few days or months?</p>
                    <br>
                    <img class="img-fluid" routerLink="/history" src="../../assets/history-example.jpg">
                    <br><br>
                    <p>Click <a routerLink="/history">here</a> to <strong>view your history</strong> daily Bible reading!</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h2 class="card-header text-center" routerLink="/progress">Progress</h2>
                <div class="card-body">
                    <br><br>
                    <p>Click <a routerLink="/history">here</a> to <strong>view your progress</strong> for reading the entire Bible!</p>
                </div>
            </div>
        </div>
    </div>
</div>